# System/tool-specific ignores
*.DS_Store



# Ignore Godot engine cache and configuration folder
**.godot/
*.translation
**TileMapLayer_Demo_11/
**/addons/
**.vscode/

# Ignore build output directories
**/bin/
**/obj/

#Output
Output/**